{% extends "base_original.html" %}

{% load markup %}

{% load gravatar %}



{% block wiki_sidebar %}
    <h2>Change password</h2>
    <div class="well">
        <img src="{% gravatar_url user.email %}?s=200.jpg" style="max-width: 100%;"/><br />
        Note: logout and login back required!
    </div>
{% endblock %}



{% block content %}
    {% if form.errors %}
        <p>There were some errors with your submission!!!</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/">
        <input type="submit" value="Change" class="btn btn-danger"/>
        <a href="/" class="btn">Cancel</a>
    </form>
{% endblock %}