{% extends "base.html" %}
{% load markup%}
{% load gravatar %}
{%block title%}{{wiki.title}}{%endblock title%}
{%block userinfo%}
	<div style="height: 60px; border-bottom:3px solid #e3e3e3;">
		<img style="float:left;margin:10px 10px; border-radius: 3px 3px;" height="40" src="{% gravatar_url wiki.user.email %}" width="40"/>
		<div style="float:left; margin-top:10px">
			<h6>{{wiki.user}}</h6>
			<div class="like-results">
				{% include "wiki/wiki_like.html" %}
			</div>
		</div>
	</div>
{%endblock userinfo%}

{%block breadcrumbs%}
	<li><a href="/{{wiki.titleid}}">{{wiki.title}}</a></li>
{%endblock breadcrumbs%}

{%block option%}
	{%if not user.is_authenticated%}
	<p style="color:#999">Create and share free online wikis for your classroom in just minutes:<br/> 
	<div class="btn-group">
		<button href="https://github.com/twitter/bootstrap/" class="btn btn-info">Signup</button>
		<button href="https://github.com/twitter/bootstrap/" class="btn">Login</button>
	</div>
	{%else%}
		<ul class="nav nav-list">
			<li><a href="#"><i class="icon-bookmark"></i> Bookmark</a></li>
			<li><a href="#"><i class="icon-print"></i> Print</a></li>
			<li><a href="#"><i class="icon-download-alt"></i> Dowload PDF file</a></li>

		</ul>
	{%endif%}
{%endblock option%}
{% block content%}
	<div class = "row">
		<div class = "span12" style="margin-top:10px">
			<h2>{{wiki.title}}</h2>
		</div>
	</div>
	{%for sec in section%}
	<div class = "sectitle">
		<div class = "row">
			<div class = "span9">
				<h3 style="color:#999; text-shadow:0px 1px 0px #e8e8e8; margin-top:6px">{{sec.title}}</h3>
			</div>
		{% if user.is_authenticated %}
		<div class = "setting span3" style="float:right;margin: 0px -90px 0px 0px">
			<div class="change-wiki g-button-group">
			    <a href="/{{wiki.titleid}}/{{sec.id}}/move/?move=1" class="g-button mini no-text" rel="tooltip" data-original-title="Move up"><i class=" icon-arrow-up"></i></a>
			    <a href="/{{wiki.titleid}}/{{sec.id}}/move/?move=0" class="g-button mini no-text" rel="tooltip" data-original-title="Move down"><i class=" icon-arrow-down"></i></a>
			    <a href="/{{wiki.titleid}}/{{sec.id}}/edit" class="g-button mini no-text" rel="tooltip" data-original-title="Edit section"><i class=" icon-edit"></i></a>
			    <a href="/{{wiki.titleid}}/deletesection/?id={{sec.id}}" class="g-button red mini no-text" rel="tooltip" data-original-title="Delete section"><i class=" icon-trash icon-white"></i></a>
			</div>
			<!--<div class="btn-group">
		  	<a class="btn btn-mini" href="/{{wiki.titleid}}/{{sec.id}}/move/?move=1"><i class=" icon-chevron-up"></i> Up</a>
	        <a class="btn btn-mini" href="/{{wiki.titleid}}/{{sec.id}}/move/?move=0"><i class=" icon-chevron-down"></i> Down</a>
			<a class="btn btn-mini" href="/{{wiki.titleid}}/{{sec.id}}/edit"><i class=" icon-edit"></i> Edit</a>
	        <a class="btn btn-mini btn-danger" href="/{{wiki.titleid}}/deletesection/?id={{sec.id}}"><i class=" icon-trash icon-white"></i> Delete</a>
          	</div>-->
        </div>
		{% endif %}
	</div>
	</div>
		<div class = "content">
			<div class = "row">
				<div class = "span12">
					<div class = "fontsize">{{sec.content_markdown|markdown}}</div>
				</div>
			</div>
		</div>
		{%endfor%}

		<a style="margin-top:10px" href="/{{wiki.titleid}}/addtext" class="btn btn-success btn-large"><i class="icon-plus icon-white"></i> Add New Section</a>		
{% endblock content %}