{% extends "base_original.html" %}

{% load gravatar %}



{% block account %}
<div class="navbar-text pull-right">
    {% if not user.is_authenticated %}
        <ul class="nav">
            <li><a href="/user/register">Join now!</a></li>
            <li ><a href="/user/login">Login</a></li>
        </ul>
    {%else%}
        <div style="margin-right: 20px">
        <div id="userbox">
            <ul id="user">
                <a href="https://github.com/buihuuloc"><img height="20" src="{% gravatar_url user.email %}" width="20"></a>
                <li style="list-style: none"><a href="/wiki/main" styl="text-decoration = none">{{user}}</a></li>
            </ul>
        </div>
        <ul id="user-links" style="margin-top:6px; padding: 1px 0px;">
            <li><a href="/user/edit_profile/" id="settings" rel="tooltip" data-original-title="Account Settings"><span class="mini-icon account-settings"></span></a></li>
            <li><a rel="tooltip" data-original-title="Click to logout" href="/user/logout" data-method="post" id="logout" class="tooltipped downwards" original-title="Log Out"><span class="mini-icon logout"></span></a></li>
        </ul>
    {%endif%}
    </div>
</div>
{% endblock %}



{% block wiki_menu_back_main %}
<div class="row">
    <div class="span12">
        <ul class="breadcrumbs">
            <li><a href="/wiki/main">All wiki</a></li>
            {%block breadcrumbs%}{%endblock breadcrumbs%}
        </ul>
    </div>
</div>
{% endblock %}



{% block wiki_footer_copyright %}
    <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
    <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
{% endblock %}



{% block wiki_sidebar %}
    <div class="sidebar-nav" style="
												margin-top: 0px;
												border-left: 1px solid #e3e3e3;
												border-right: 1px solid #e3e3e3;
												border-top: 3px solid #e3e3e3;
												border-bottom: 3px solid #e3e3e3;">
        {%block userinfo%}{%endblock userinfo%}
        <ul class="nav nav-list" style="
		            							font-weight: bold;
		            							margin:10px 2px 0px 2px;">
            <li class="nav-header"><h5>Option</h5></li>
            {%block option%}{%endblock option%}
        </ul>
        <div style="
		            				margin:10px 0px 10px 0px;
		            				width:100%;border-bottom:3px solid #e3e3e3;">
        </div>

        <ul class="nav nav-list" style="font-weight: bold;
													margin:10px 2px 10px 2px;">
            <li class="nav-header"><h5>Category</h5></li>
            <ul class="nav nav-list">
                <li class="active"><a href="http://wikis.engrade.com/dir/all"><i class="icon-home icon-white"></i>All Subjects</a></li>
                <li><a href="http://wikis.engrade.com/dir/art"><i class="icon-gift"></i>Art</a></li>
                <li><a href="http://wikis.engrade.com/dir/business"><i class="icon-folder-open"></i>Business &amp; Economics</a></li>
                <li><a href="http://wikis.engrade.com/dir/computers"><i class="icon-folder-open"></i>Computer Science</a></li>
                <li><a href="http://wikis.engrade.com/dir/geography"><i class="icon-eye-open"></i>Geography</a></li>
                <li><a href="http://wikis.engrade.com/dir/government"><i class="icon-list-alt"></i>Government &amp; Politics</a></li>
                <li><a href="http://wikis.engrade.com/dir/history"><i class="icon-folder-open"></i>History</a></li>
                <li><a href="http://wikis.engrade.com/dir/math"><i class="icon-film"></i>Film</a></li>
                <li><a href="http://wikis.engrade.com/dir/music"><i class="icon-music"></i>Music</a></li>
                <li><a href="http://wikis.engrade.com/dir/language"><i class="icon-folder-open"></i>Foreign Language</a></li>
                <li><a href="http://wikis.engrade.com/dir/languagearts"><i class="icon-folder-open"></i>English/Language Arts</a></li>
                <li><a href="http://wikis.engrade.com/dir/science"><i class="icon-facetime-video"></i>Science</a></li>
                <li><a href="http://wikis.engrade.com/dir/sports"><i class="icon-tint"></i>PE &amp; Health</a></li>
                <li><a href="http://wikis.engrade.com/dir/religion"><i class="icon-road"></i>Religion</a></li>
                <ul/>
            </ul>
    </div>
{% endblock %}