<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css"type="text/css" />
</head>
<body>
	<div class="navbar">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <h2><a class="brand" href="#">Engrade Wikis</a></h2>
	          <div class="nav-collapse">
	            <ul class="nav">
					<li class="divider-vertical"></li>
	              	<li><a href="#">Wikis</a></li>
					<li class="divider-vertical"></li>
	              	<li><a href="#contact">About</a></li>
					<li class="divider-vertical"></li>
					{% if not user.is_authenticated %}
	              	<li><a href="#about">Help</a></li>
					<li class="divider-vertical"></li>
					{%else%}
					<li><a href="#about">Account</a></li>
					<li class="divider-vertical"></li>
					{%endif%}
	            </ul>
	            <div class="navbar-text pull-right">
				{% if not user.is_authenticated %}
	            	<ul class="nav">
						<li class="divider-vertical"></li>
		               <li><a href="#about">Signup</a></li>
						<li class="divider-vertical"></li>
		              <li><a href="#contact">Login</a></li>
				    </ul>
				{%else%}
				<ul class="nav">
					<li class="divider-vertical"></li>
	              	<li class = "avatar"><a href="#"><image class ="avatarimage" src="http://img.informe.com/img/thumbs/g/goflow.alwaysdata.net_medium.jpg"/>{{user}}</a></li>
					<li class="divider-vertical"></li>
	              	<li><a href="#about">Help</a></li>
					<li class="divider-vertical"></li>
	              <li><a href="#">Logout</a></li>
			    </ul>
				{%endif%}
	            </div>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	<!--MENU HEADER-->
	<section id="main">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
			<div class="topRow"><span class="topRowtext">Option</span></div>
			{% if user.is_authenticated %}
				<div class = "creatwiki">
					<a class ="btn btn-large" href="/wiki/create">
					<i class="icon-plus icon-black"></i>New Wiki</a>
				</div>
			{%else%}
			<p class = "topRowcontent">Create and share free online wikis for your classroom in just minutes: Signup or Login</p>
			{%endif%}
			<li class="divider"></li><!--end Option-->
			
			<div class="topRow"><span class="topRowtext">Categories</span></div>
			<li class="divider"></li>
		</div>
			<!---<div class ="sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Create</li>
				<a class ="btn btn-large" href="/wiki/create">
				<i class="icon-plus icon-black"></i>New Wiki</a>
	          <li class="nav-header">Engrade Wikis</li>
	          <li class={%block ative1%}{%endblock%}><a href="/wiki/main/"><i class="icon-home"></i> Home</a></li>
	          <li class={%block ative2%}{%endblock%}><a href="/{{wiki.titleid}}/addimage"><i class="icon-book"></i> Library</a></li>
	          <li class=""><a href="#"><i class="icon-pencil"></i> Applications</a></li>
				<li class="nav-header">Account Manager</li>
	          <li><a href="#"><i class="icon-user"></i> Profile</a></li>
	          <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
	          <li><a href="#"><i class="icon-flag"></i> Help</a></li>
			  <li class="nav-header">Add other section</li>
							<div class="btn-group">
					          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus icon-black"></i>
								Add <span class="caret"></span>
								</a>
					          <ul class="dropdown-menu">
					            <li><a href="/{{wiki.titleid}}/addtext">Add section</a></li>
					            <li><a href="/{{wiki.titleid}}/addimage">Add image</a></li>
					          </ul>
					        </div>							
	        </ul>
		</div>
		</div>-->
		<div class="span10">
	     {% block content %}{% endblock %}
	    </div>
	  </div>
	</div>
	</section>				

</body>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery-latest.js"></script>
	<script src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: ["tex2jax.js"],
	    jax: ["input/TeX", "output/HTML-CSS"],
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	    },
	    "HTML-CSS": { availableFonts: ["TeX"] }
	  });
	</script>
	<script type="text/javascript" src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
</html>