{% extends "base.html" %}
{%block ative1%}"active"{%endblock%}
{%block content %}
	{% for wi in wiki %}
		<div class = "row-fluid">
			<div class = "span3">
           		<h3><a href = "/{{wi.titleid}}/">{{wi.title}}</a></h3>
				<div class = "row-fluid">
					<div class = "span5">
					<span class="label label-info"> {{wi.like}}</span>
					<span class="label label-warning"><a href="/wiki/like/?titleid={{wi.titleid}}" >Like</a></span>
					</div>
					</div>
			</div>
			<!---<div class = "span9">
				<a class = "btn btn-small btn-warning" href ="/wiki/deletewiki/?id={{wi.titleid}}">Delete Wiki</a>
			</div>-->
		</div>
	{% endfor%}
{% endblock %}