{% extends "base.html" %}
{% load markup%}
{%block ative1%}"active"{%endblock%}
{% block content%}
		<div class = "row-fluid">
			<div class = "span10">
				<h1>{{wiki.title}}</h1>
			<div class = "row-fluid">
				<div class = "span5">
				<span class="label label-info"> {{wiki.like}}</span>
				<span class="label label-warning"><a href="/wiki/like/?titleid={{wiki.titleid}}" >Like</a></span>
				</div>
				</div>
			</div>
			<!---<div class = "span2">
			<a class="btn btn-small btn-danger" href="/{{wiki.titleid}}/editwiki">
				<i class="icon-pencil"> </i>Edit Wiki</a>
			</div>-->
		</div>
	{%for sec in section%}
	<div class = "sectitle">
		<div class = "row-fluid">
			<div class = "span11">
				<h2>{{sec.title}}</h2></a>
			</div>
			<div class = "span1">
			{% if user == wiki.user %}
				<div class="btn-group">
			        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
					<ul class="dropdown-menu">
			            <li><a href="/{{wiki.titleid}}/{{sec.id}}/edit"><i class="icon-pencil"> </i>Edit</a></li>
			            <li><a href="/{{wiki.titleid}}/deletesection/?id={{sec.id}}"><i class="icon-trash"> </i>Delete</a></li>
			         </ul>
				</div>
			{% endif %}
			</div>
		</div>
		</div>
		<div class = "sectitle">
		<div class = "row-fluid">
			<div class = "span12">
				<div class = "fontsize">{{sec.content_markdown|markdown}}</div>
			</div>
		</div>
		</div>
		{%endfor%}		
{% endblock %}
		<script>
		   $('.dropdown-toggle').dropdown();
		</script>		